* {
  box-sizing: border-box;
}

h1 {
  font-size: 5rem;
  margin: 0 10%;
  text-decoration: underline;
  font-weight: 300;
}

body {
  background-color: whitesmoke;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

main {
  margin: 100px auto;
}

#section {
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;
  align-items: center;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

img {
  height: 400px;
  max-width: 400px;
}

#section img {
  width: 30%;
  border: 5px solid transparent;
}

#section img:hover {
  border: 5px solid cyan;
}

div .results {
  display: grid;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

canvas {
  display: flex;
  margin: 0 auto;
  max-width: 70%;
}
